.sidebar{
    background-color: white;
    box-shadow: 0 3px 5px grey;
    padding:0 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 10px;
    text-align: center;
    .sitebar-items > div{
        margin-top: 60px;
    }
    div:nth-child(2){
        padding:12px 15px;
        border-radius: 10px;
        background-color: black;
    }
}